
html {
  position: relative;
  min-height: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
  font-family: 'Poppins', sans-serif;
  color: white;
  
 
}
main{
  display: flex;
  justify-content: center;
  width: auto;
}
.slider{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  margin-top: 50px;
}
.slide{
 flex: 0 0 auto;
 margin-right: 20px;
 scroll-snap-align: center;
 background-color:bisque;
 width: 300px;
 height:410px;
 border-radius: 10px;
 margin-top: 20px;
 padding: 10px;
}
.posts-images{
  width: 240px;
  height: 180px;
  margin: auto;
  border-radius: 5px;
  top: 20px;
  box-shadow: 0px 4px 6px 2px rgba(186, 150, 150, 0.775);
  object-fit: cover;
  display: block;
}
.title{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 16px;
  text-decoration: none;

}
.slide p{
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 12px;
  margin: 0 25px 0 25px;
  line-height: 22px;
  color: black;

}
.slide a{
  text-decoration: none;
}
.read-more{
  text-decoration: underline;
  color: rgb(186, 49, 49);
  margin: 30px;
  cursor: pointer;
  
 }
 main{
  display: flex;
  flex-direction: column;
 }
 .button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  max-width: 1200px;
  
 }
 .show_more{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 200px;
  border: none;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  will-change: box-shadow,transform;
  background:bisque;
  padding: 20px;
  font-size: 16px;
 }

.show_more:hover{
  box-shadow: 0px 4px 6px 2px rgba(186, 150, 150, 0.775);
  transition: 0.5s;
}
@media screen and (min-width: 700px){
  .slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: auto;
  }
  

}