html {
  position: relative;
  min-height: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
  font-family: 'Poppins', sans-serif;
  color: black;
  
 
}
.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 82, 135);
  max-width: 800px;
  padding:10px 50px 0 50px;
  margin: 80px auto;
  top: 40px;
}

.title{
  margin:0 20px 0 20px;
  color: red;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.content, .title{
  margin:0 20px 0 20px;
}
.post-image{
  width: auto;
  height: 200px;
}